div.calculadora{
      background-color: #bed4ff;
      padding: 30px;
      max-width: 500px;
}
select,
input[type="text"],
input[type="number"] {
  padding: 8px;
  font-size: 20pt;
}
input#anolunar{
      width: 90px;
}
input#dialunar{
      width: 60px;
}
button {
  padding: 8px 16px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: #4caf50;
}
button:hover {
  background-color: #056009;
}.button:active {
      transform: scale(0.95); /* Shrinks the button slightly */
}
button#butacaocalculagregoriana{
  background-color: #4caf50;
}