body{
  font-family: 'DIN Regular';
  font-size: 14pt;
  padding:3vh 3vh 3vh 3vh;
}
h1{
  font-family: 'Feather Bold';
  text-align: center;
}
div.calculadora{
  display: inline-block;
  padding: 30px;
  max-width: 700px;
}
div.calculadora:nth-child(1){
  background-color: #bed4ff;
}
div.calculadora:nth-child(2){
  background-color: #beffd4;
}
select,
input[type="text"],
input[type="number"] {
  padding: 8px;
  font-size: 20pt;
}
input[type="number"]{
  text-align: right;
}
input#anolunar,input#anoregoriano{
      width: 90px;
}
input#dialunar,input#diagregoriano{
      width: 60px;
}
button {
  padding: 8px 16px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: #4caf50;
}
button:hover {
  background-color: #056009;
}.button:active {
      transform: scale(0.95); /* Shrinks the button slightly */
}
button#butacaocalculagregoriana{
  background-color: #4caf50;
}
p{
  text-align: justify;
  text-indent: 7ch;
}
p.subtitle{
  margin-top:-40px;
  text-indent: 0ch;
  text-align: center;
}
p.exibirdatas{
  text-align: right;
}
b.roxo{
  color: purple;
}