body{
  font-family: 'DIN Regular';
  font-size: 14pt;
  padding:3vh 3vh 3vh 3vh;
  max-width: 800px;
  margin: auto;
}
h1,h2{
  font-family: 'Feather Bold';
  text-align: center;
  padding: 0px;
}
h2{
  margin: 0px;
  font-size: 18pt;
}
div.calculadora{
  display: inline-block;
  padding: 30px;
  border: 1px solid black;
}
div.calculadora:nth-child(1){
  background-color: #bed4ff;
}
div.calculadora:nth-child(2){
  background-color: #beffd4;
}
select,
input[type="text"],
input[type="number"] {
  padding: 0px 8px;
  font-size: 20pt;
}
input[type="number"]{
  text-align: right;
}
select{
  width: 200px;
}
input#anolunar,input#anogregoriano{
      width: 120px;
}
input#dialunar,input#diagregoriano{
      width: 60px;
}
button {
  padding: 8px 16px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: #4caf50;
  width: 100%;
  height: 100%;
}
button:hover {
  background-color: #056009;
}.button:active {
      transform: scale(0.95); /* Shrinks the button slightly */
}
button#butacaocalculagregoriana{
  background-color: #4caf50;
}
p{
  text-align: justify;
  text-indent: 7ch;
}
p.subtitle{
  margin-top:-40px;
  text-indent: 0ch;
  text-align: center;
}
td.exibirdatas{
  text-align: center;
}
b.roxo{
  color: purple;
}
span.info{
  color:purple;
  border-bottom: 1px dotted purple;
  cursor: pointer;
}
img.itemicon{
  max-height: 42px;
  max-width: 36px;
}