@import url(https://db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DIN+Next+Rounded+LT+W01+Regular);
@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@import url(https://db.onlinewebfonts.com/c/d778c9af6f0c7bfb6f10d9e34e71a43f?family=DIN+Next+Rounded+LT+W01+Bold); 

@font-face {
    font-family: "DIN Regular";
    src: url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
    src: url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DIN Next Rounded LT W01 Regular")format("svg");
}
@font-face {
    font-family: "Feather Bold";
    src: url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.eot");
    src: url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.svg#Feather Bold")format("svg");
}
@font-face {
    font-family: "DIN Bold";
    src: url("https://db.onlinewebfonts.com/t/d778c9af6f0c7bfb6f10d9e34e71a43f.eot");
    src: url("https://db.onlinewebfonts.com/t/d778c9af6f0c7bfb6f10d9e34e71a43f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d778c9af6f0c7bfb6f10d9e34e71a43f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d778c9af6f0c7bfb6f10d9e34e71a43f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d778c9af6f0c7bfb6f10d9e34e71a43f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d778c9af6f0c7bfb6f10d9e34e71a43f.svg#DIN Next Rounded LT W01 Bold")format("svg");
}